body{
background-color:#000000;
}

a{
text-decoration:none;
}

a:hover{
text-decoration:none;
}

.thumb{
border:1px solid #fff;
border-bottom:10px solid #fff;
padding:2px;
width:120px;
height:100px;
}